{% extends 'base.html' %}

{% block anchor %}
        {% if status == "Loggedout" %}
            <a class="nav-link " href='{{ url_for('login') }}' xmlns="http://www.w3.org/1999/html">
               Login
            </a>
        {% else %}
            <a class="nav-link " href='{{ url_for('logout') }}'>
                Logout <strong>{{ user_email }}</strong>
            </a>
        {% endif %}

{% endblock %}

{% block body %}
    <br>
    <p>
        Welcome to <strong>Book Sansar</strong> which literal translation is "Word of Books". Knowing "A book is a man's best friend.",
        we have brought you a collection of more than 4500 books. Here you can find with their detail information like ISBN, year, author,
        etc. You can see the rating for the book you desired after you logged in here. You can submit review to any book you like and
        comment it to help other readers know how is the book. We have added "Goodreads" API too, from where you can see a book's global
        desire with its rating number and average rating from readers world wide. We have also created an API from our site, just in case
        you want get information from our database and build you own web application or website.
    </p>

{% endblock %}